Repository esimp12/stega: changes, and which pre-commit hooks are due for each by the changed paths.
All: skjold, prettier

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^.*\.json$
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--config, pyproject.toml]
  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.395
  #   hooks:
  #     - id: pyright
  #       args: [--project, pyproject.toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/adamchainz/blacken-docs.git
    rev: 1.19.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8.git
    rev: 7.1.2
    hooks:
      - id: flake8
        args: [--config, .flake8]
        exclude: (tests).*
  # - repo: https://github.com/PyCQA/bandit.git
  #   rev: 1.8.3
  #   hooks:
  #     - id: bandit
  #       args: [-c, pyproject.toml]
  #       additional_dependencies: ["bandit[toml]"]
  # - repo: https://github.com/PyCQA/pydocstyle.git
  #   rev: 6.3.0
  #   hooks:
  #     - id: pydocstyle
  #       args:
  #         - --config=pyproject.toml
  #       exclude: (tests).*
  #       additional_dependencies:
  #         - tomli
  - repo: https://github.com/PyCQA/isort.git
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/hadialqattan/pycln.git
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^src/.*\.py$
  - repo: https://github.com/MarcoGorelli/auto-walrus.git
    rev: 0.3.4
    hooks:
      - id: auto-walrus
  - repo: local
    hooks:
      # - id: pylint
      #   name: pylint
      #   entry: poetry run pylint
      #   language: system
      #   types: [python]
      #   args: [--rcfile=pyproject.toml]
      - id: skjold
        name: skjold
        entry: poetry run skjold
        language: system
        types: [python]
        args: [--verbose, -c, pyproject.toml, audit]
      - id: prettier
        name: prettier
        entry: ./node_modules/.bin/prettier
        exclude: ^(.pytest_cache|.venv|.skjold_cache|.vim|.vscode|htmlcov)
        files: ^.*\.(html|json|markdown|md|yaml|yml)$
        language: system
        args: [--write]

finish stega_cli update first pass
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/events.py
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/utils.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/daemon/__init__.py
  stega/stega_cli/src/stega_cli/daemon/dispatch.py
  stega/stega_cli/src/stega_cli/daemon/handlers.py
  stega/stega_cli/src/stega_cli/daemon/server.py
  stega/stega_cli/src/stega_cli/daemon/tail.py
  stega/stega_cli/src/stega_cli/daemon/worker.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/ports/cache/__init__.py
  stega/stega_cli/src/stega_cli/ports/cache/actions.py
  stega/stega_cli/src/stega_cli/ports/cache/db.py
  stega/stega_cli/src/stega_cli/ports/cache/portfolio.py
  stega/stega_cli/src/stega_cli/services/command.py
  stega/stega_cli/src/stega_cli/services/handlers/__init__.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/sse.py
  stega/stega_cli/src/stega_cli/services/request.py
Due: skjold

add sse decode function
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/daemon/tail.py
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/hosting/sse.py
Due: skjold

split cli into static groups and dynamic
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/groups/__init__.py
  stega/stega_cli/src/stega_cli/cli/groups/daemon.py
  stega/stega_cli/src/stega_cli/cli/groups/events.py
  stega/stega_cli/src/stega_cli/config.py
Due: skjold

get ruff passing
  docker-compose.yaml
  stega/stega_cli/src/stega_cli/bootstrap.py
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/generate.py
  stega/stega_cli/src/stega_cli/cli/groups/daemon.py
  stega/stega_cli/src/stega_cli/cli/groups/events.py
  stega/stega_cli/src/stega_cli/cli/render.py
  stega/stega_cli/src/stega_cli/commands.py
  stega/stega_cli/src/stega_cli/daemon/dispatch.py
  stega/stega_cli/src/stega_cli/daemon/handlers.py
  stega/stega_cli/src/stega_cli/daemon/server.py
  stega/stega_cli/src/stega_cli/daemon/tail.py
  stega/stega_cli/src/stega_cli/daemon/worker.py
  stega/stega_cli/src/stega_cli/ports/client.py
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/cli.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/hosting/sse.py
  stega/stega_core/src/stega_core/service/socket.py
  stega/stega_edge/docker-compose.yaml
  stega/stega_edge/src/stega_edge/entrypoint.py
Due: skjold, prettier

get things running
  stega/stega_broker/docker-compose.yaml
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_edge/docker-compose.yaml
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/ports/orm.py
  uv.lock
Due: skjold, prettier

finish deployment
  stega/stega_cli/pyproject.toml
  stega/stega_edge/pyproject.toml
  stega/stega_portfolio/pyproject.toml
  uv.lock
Due: none

get cli installed and running, daemon is failing
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/daemon/tail.py
  stega/stega_cli/src/stega_cli/domain/__init__.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/service/__init__.py
  uv.lock
Due: skjold

cli daemon working, but connnection error somewhere
  stega/stega_cli/src/stega_cli/daemon/server.py
Due: skjold

fix readiness connection issue for edge to broker
  stega/stega_broker/docker-compose.yaml
  stega/stega_core/src/stega_core/broker/rabbitmq.py
  stega/stega_edge/docker-compose.yaml
Due: skjold, prettier

fix di issues
  stega/stega_contracts/src/stega_contracts/edge/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/broker/memory.py
  stega/stega_core/src/stega_core/di.py
Due: skjold

integrate cache reads and writebacks to CLI paths
  stega/stega_cli/src/stega_cli/cli/generate.py
  stega/stega_cli/src/stega_cli/cli/render.py
  stega/stega_cli/src/stega_cli/daemon/dispatch.py
  stega/stega_cli/src/stega_cli/daemon/handlers.py
  stega/stega_cli/src/stega_cli/daemon/server.py
  stega/stega_cli/src/stega_cli/daemon/tail.py
  stega/stega_cli/src/stega_cli/ports/cache/actions.py
  stega/stega_cli/src/stega_cli/ports/cache/portfolio.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold
