Repository esimp12/stega: changes, and which pre-commit hooks are due for each by the changed paths.
All: skjold, prettier

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^.*\.json$
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--config, pyproject.toml]
  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.395
  #   hooks:
  #     - id: pyright
  #       args: [--project, pyproject.toml]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/adamchainz/blacken-docs.git
    rev: 1.19.1
    hooks:
      - id: blacken-docs
  - repo: https://github.com/PyCQA/flake8.git
    rev: 7.1.2
    hooks:
      - id: flake8
        args: [--config, .flake8]
        exclude: (tests).*
  # - repo: https://github.com/PyCQA/bandit.git
  #   rev: 1.8.3
  #   hooks:
  #     - id: bandit
  #       args: [-c, pyproject.toml]
  #       additional_dependencies: ["bandit[toml]"]
  # - repo: https://github.com/PyCQA/pydocstyle.git
  #   rev: 6.3.0
  #   hooks:
  #     - id: pydocstyle
  #       args:
  #         - --config=pyproject.toml
  #       exclude: (tests).*
  #       additional_dependencies:
  #         - tomli
  - repo: https://github.com/PyCQA/isort.git
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/hadialqattan/pycln.git
    rev: v2.5.0
    hooks:
      - id: pycln
        files: ^src/.*\.py$
  - repo: https://github.com/MarcoGorelli/auto-walrus.git
    rev: 0.3.4
    hooks:
      - id: auto-walrus
  - repo: local
    hooks:
      # - id: pylint
      #   name: pylint
      #   entry: poetry run pylint
      #   language: system
      #   types: [python]
      #   args: [--rcfile=pyproject.toml]
      - id: skjold
        name: skjold
        entry: poetry run skjold
        language: system
        types: [python]
        args: [--verbose, -c, pyproject.toml, audit]
      - id: prettier
        name: prettier
        entry: ./node_modules/.bin/prettier
        exclude: ^(.pytest_cache|.venv|.skjold_cache|.vim|.vscode|htmlcov)
        files: ^.*\.(html|json|markdown|md|yaml|yml)$
        language: system
        args: [--write]

lint (stega_cli): 'typig' to 'typing'
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
Due: skjold

fix (stega_cli): update imports
  stega/stega_cli/src/stega_cli/services/dispatcher.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
Due: skjold

fix (stega_cli): 'read_byes' to 'read_bytes'
  stega/stega_cli/src/stega_cli/daemon.py
Due: skjold

feat (stega_cli): change daemon stop to daemon uninstall
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/domain/command.py
Due: skjold

feat (stega_cli): start to create request vs. command dispatcher
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/services/command.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/request.py
Due: skjold

feat (stega_cli): start to add action correlation table
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/ports/actions.py
  stega/stega_cli/src/stega_cli/services/command.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
Due: skjold

feat (stega_cli): listen to portfolio created event and update local cache
  stega/stega_cli/src/stega_cli/ports/actions.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
Due: skjold

feat (stega_cli): initialize db tables for local cache
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/services/command.py
Due: skjold

fix (stega_cli): properly read and respond to commands once per connection in handle_client
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
Due: skjold

fix (stega_core): update service to depend on broker with healthcheck
  docker-compose.yaml
  stega/stega_broker/docker-compose.yaml
  stega/stega_core/docker-compose.yaml
  stega/stega_portfolio/docker-compose.yaml
Due: prettier

fix: resolve end to end portfolio fetch path
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/views/portfolio.py
Due: skjold

fix: add command to watch individual SSE topics and more fixes related to portfolio creation events
  stega/stega_cli/src/stega_cli/cli/events.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_lib/src/stega_lib/domain.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_lib/src/stega_lib/http.py
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold, prettier

fix: get portfolio create command fully working
  stega/stega_cli/src/stega_cli/ports/actions.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/sse.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
Due: skjold

fix (stega_cli): stega portfolio get works now
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/request.py
  stega/stega_core/src/stega_core/domain/portfolio.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_portfolio/src/stega_portfolio/views/views.py
Due: skjold

lint: add lint task and run
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/events.py
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/cli/utils.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/command.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/sse.py
  stega/stega_cli/src/stega_cli/services/request.py
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
  stega/stega_core/src/stega_core/services/handlers/portfolio.py
  stega/stega_core/src/stega_core/services/handlers/streams.py
  stega/stega_lib/src/stega_lib/domain.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/utils.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  stega/stega_portfolio/src/stega_portfolio/views/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/views/views.py
  tasks.py
Due: skjold

lint: add format task and run
  pyproject.toml
  stega/stega_cli/src/stega_cli/cli/events.py
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/ports/actions.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/command.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/sse.py
  stega/stega_cli/src/stega_cli/services/request.py
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/ports/base.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/streams.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/health.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/mapping.py
  stega/stega_portfolio/src/stega_portfolio/views/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/views/views.py
  tasks.py
Due: skjold

lint: format and lint all files in project
  .pre-commit-config.yaml
  pyproject.toml
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/events.py
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/cli/utils.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_cli/src/stega_cli/domain/request.py
  stega/stega_cli/src/stega_cli/ports/actions.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/__init__.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/sse.py
  stega/stega_cli/src/stega_cli/services/request.py
  stega/stega_config/src/stega_config/frozen.py
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/domain/portfolio.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/ports/base.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/streams.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_lib/src/stega_lib/http.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
Due: skjold, prettier

architectural rework
  TODO.md
  _archive/core/core_bootstrap.py
  _archive/core/core_messagebus.py
  _archive/core/events.py
  _archive/core/mapping.py
  _archive/core/streams.py
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/domain/queries.py
  stega/stega_core/src/stega_core/services/handlers/__init__.py
  stega/stega_lib/src/stega_lib/__init__.py
  stega/stega_lib/src/stega_lib/core/command.py
  stega/stega_lib/src/stega_lib/core/event.py
  stega/stega_lib/src/stega_lib/core/query.py
  stega/stega_lib/src/stega_lib/core/response.py
  stega/stega_lib/src/stega_lib/core/view.py
  stega/stega_lib/src/stega_lib/di.py
  stega/stega_lib/src/stega_lib/domain.py
  stega/stega_lib/src/stega_lib/domain/__init__.py
  stega/stega_lib/src/stega_lib/domain/aggregate.py
  stega/stega_lib/src/stega_lib/domain/entity.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_lib/src/stega_lib/infra/__init__.py
  stega/stega_lib/src/stega_lib/infra/http.py
  stega/stega_lib/src/stega_lib/infra/pubsub.py
  stega/stega_lib/src/stega_lib/messaging/__init__.py
  stega/stega_lib/src/stega_lib/messaging/bus.py
  stega/stega_lib/src/stega_lib/messaging/types.py
  stega/stega_lib/src/stega_lib/py.typed
  stega/stega_lib/src/stega_lib/registry.py
  stega/stega_lib/src/stega_lib/streams/__init__.py
  stega/stega_lib/src/stega_lib/streams/base.py
  stega/stega_lib/src/stega_lib/streams/memory.py
  stega/stega_lib/src/stega_lib/transport/base.py
  stega/stega_lib/src/stega_lib/transport/rabbitmq.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  uv.lock
Due: skjold, prettier

transport updates
  TODO.md
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_lib/src/stega_lib/transport/rabbitmq.py
Due: skjold, prettier

feat (stega_core): add transport to service_lifespan
  TODO.md
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/services/handlers/__init__.py
  stega/stega_lib/src/stega_lib/streams/base.py
  stega/stega_lib/src/stega_lib/transport/base.py
  stega/stega_lib/src/stega_lib/transport/rabbitmq.py
Due: skjold, prettier

fix stega_core imports
  TODO.md
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/domain/repo/__init__.py
  stega/stega_core/src/stega_core/domain/repo/base.py
  stega/stega_core/src/stega_core/domain/repo/memory.py
  stega/stega_core/src/stega_core/domain/repo/sqlalchemy.py
  stega/stega_core/src/stega_core/domain/uow/base.py
  stega/stega_core/src/stega_core/messaging/__init__.py
  uv.lock
Due: skjold, prettier

restructure stega_core
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/broker/__init__.py
  stega/stega_core/src/stega_core/broker/base.py
  stega/stega_core/src/stega_core/broker/memory.py
  stega/stega_core/src/stega_core/broker/rabbitmq.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_core/src/stega_core/domain/__init__.py
  stega/stega_core/src/stega_core/domain/repo/__init__.py
  stega/stega_core/src/stega_core/domain/uow/__init__.py
  stega/stega_core/src/stega_core/infra/pubsub.py
  stega/stega_core/src/stega_core/message/__init__.py
  stega/stega_core/src/stega_core/message/command.py
  stega/stega_core/src/stega_core/message/event.py
  stega/stega_core/src/stega_core/message/query.py
  stega/stega_core/src/stega_core/message/response.py
  stega/stega_core/src/stega_core/message/view.py
  stega/stega_core/src/stega_core/messaging/__init__.py
  stega/stega_core/src/stega_core/registry/__init__.py
  stega/stega_core/src/stega_core/registry/action.py
  stega/stega_core/src/stega_core/registry/message.py
  stega/stega_core/src/stega_core/registry/repository.py
  stega/stega_core/src/stega_core/repository/__init__.py
  stega/stega_core/src/stega_core/repository/base.py
  stega/stega_core/src/stega_core/repository/memory.py
  stega/stega_core/src/stega_core/repository/sqlalchemy.py
  stega/stega_core/src/stega_core/streams/__init__.py
  stega/stega_core/src/stega_core/streams/base.py
  stega/stega_core/src/stega_core/streams/memory.py
  stega/stega_core/src/stega_core/transport/__init__.py
  stega/stega_core/src/stega_core/transport/base.py
  stega/stega_core/src/stega_core/uow/__init__.py
  stega/stega_core/src/stega_core/uow/base.py
  stega/stega_core/src/stega_core/uow/sqlalchemy.py
  stega/stega_utils/src/stega_utils/__init__.py
  stega/stega_utils/src/stega_utils/http.py
Due: skjold

get portfolio service running with quart
  stega/stega_core/src/stega_core/broker/base.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_edge/src/stega_edge/bootstrap.py
  stega/stega_edge/src/stega_edge/config.py
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/ports/repository/db.py
  stega/stega_portfolio/src/stega_portfolio/ports/repository/sqlalchemy.py
  uv.lock
Due: skjold

add query context construct to stega_core
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/query_context/__init__.py
  stega/stega_core/src/stega_core/query_context/base.py
  stega/stega_core/src/stega_core/query_context/sqlalchemy.py
  stega/stega_core/src/stega_core/reader/__init__.py
  stega/stega_core/src/stega_core/reader/base.py
  stega/stega_core/src/stega_core/reader/sqlalchemy.py
  stega/stega_core/src/stega_core/registry/__init__.py
  stega/stega_core/src/stega_core/registry/reader.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/__init__.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold

move all common constructs to stega core and reqwrite services to be all async
  TODO.md
  stega/stega_config/src/stega_config/frozen.py
  stega/stega_config/src/stega_config/source.py
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/domain/__init__.py
  stega/stega_core/src/stega_core/domain/aggregate.py
  stega/stega_core/src/stega_core/domain/error.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/hosting/hypercorn.py
  stega/stega_core/src/stega_core/hosting/marshal.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/logging.py
  stega/stega_core/src/stega_core/query_context/__init__.py
  stega/stega_core/src/stega_core/query_context/base.py
  stega/stega_core/src/stega_core/reader/sqlalchemy.py
  stega/stega_core/src/stega_core/registry/message.py
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/__init__.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/app.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/health.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/utils.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/domain/view.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/__init__.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/base.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/sqlalchemy.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/__init__.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/views/__init__.py
  stega/stega_portfolio/src/stega_portfolio/views/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/views/views.py
Due: skjold, prettier

get list portfolios working
  stega/stega_config/src/stega_config/frozen.py
  stega/stega_config/src/stega_config/source.py
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/hosting/hypercorn.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/logging.py
  stega/stega_core/src/stega_core/query_context/base.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/domain/query.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/orm.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/sqlalchemy.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold

get create portfolio working for portfolio service
  .gitignore
  stega/stega_contracts/src/stega_contracts/portfolio.py
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/context.py
  stega/stega_core/src/stega_core/domain/aggregate.py
  stega/stega_core/src/stega_core/hosting/marshal.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/message/__init__.py
  stega/stega_core/src/stega_core/message/command.py
  stega/stega_core/src/stega_core/message/event.py
  stega/stega_core/src/stega_core/repository/sqlalchemy.py
  stega/stega_core/src/stega_core/uow/base.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/orm.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold

get update and delete commands working for portfolio service
  stega/stega_core/src/stega_core/domain/aggregate.py
  stega/stega_core/src/stega_core/repository/sqlalchemy.py
  stega/stega_portfolio/src/stega_portfolio/domain/command.py
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/orm.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/sqlalchemy.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold

update TODO
  TODO.md
Due: prettier

format stega-core and stega-portfolio
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/domain/aggregate.py
  stega/stega_core/src/stega_core/hosting/marshal.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/logging.py
  stega/stega_core/src/stega_core/message/command.py
  stega/stega_core/src/stega_core/message/event.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/domain/query.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/orm.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
Due: skjold

finish ruff formatting for stega edge, core, contracts, portfolio
  stega/stega_contracts/src/stega_contracts/portfolio/__init__.py
  stega/stega_contracts/src/stega_contracts/portfolio/event.py
  stega/stega_contracts/src/stega_contracts/portfolio/port.py
  stega/stega_contracts/src/stega_contracts/portfolio/routes.py
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/hosting/__init__.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/service/__init__.py
  stega/stega_core/src/stega_core/service/channel.py
  stega/stega_core/src/stega_core/service/contract.py
  stega/stega_core/src/stega_core/service/http.py
  stega/stega_core/src/stega_core/service/memory.py
  stega/stega_core/src/stega_core/service/port.py
  stega/stega_core/src/stega_core/service/spec.py
  stega/stega_core/src/stega_core/service/transport.py
  stega/stega_edge/src/stega_edge/bootstrap.py
  stega/stega_edge/src/stega_edge/config.py
  stega/stega_edge/src/stega_edge/entrypoint.py
  stega/stega_edge/src/stega_edge/services/handlers/__init__.py
  stega/stega_edge/src/stega_edge/services/handlers/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/base.py
  stega/stega_portfolio/src/stega_portfolio/ports/reader/sqlalchemy.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
  uv.lock
Due: skjold

update dependencies
  uv.lock
Due: none

get stega edge and stega portfolio working together
  scripts/test_portfolio_service
  stega-web/.gitignore
  stega-web/.vscode/extensions.json
  stega-web/README.md
  stega-web/index.html
  stega-web/public/favicon.svg
  stega-web/public/icons.svg
  stega-web/src/App.svelte
  stega-web/src/app.css
  stega-web/src/assets/hero.png
  stega-web/src/assets/svelte.svg
  stega-web/src/assets/vite.svg
  stega-web/src/lib/Counter.svelte
  stega-web/src/main.ts
  stega-web/svelte.config.js
  stega-web/vite.config.ts
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/service/http.py
  stega/stega_edge/pyproject.toml
  stega/stega_edge/src/stega_edge/entrypoint.py
  stega/stega_edge/src/stega_edge/services/handlers/__init__.py
  stega/stega_edge/src/stega_edge/services/handlers/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/domain/portfolio.py
Due: skjold, prettier

create initial market data service
  pyproject.toml
  stega/stega_contracts/src/stega_contracts/market_data/__init__.py
  stega/stega_contracts/src/stega_contracts/market_data/command.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_core/src/stega_core/provider/__init__.py
  stega/stega_core/src/stega_core/provider/http.py
  stega/stega_market_data/pyproject.toml
  stega/stega_market_data/src/stega_market_data/__init__.py
  stega/stega_market_data/src/stega_market_data/bootstrap.py
  stega/stega_market_data/src/stega_market_data/config.py
  stega/stega_market_data/src/stega_market_data/domain/__init__.py
  stega/stega_market_data/src/stega_market_data/domain/price.py
  stega/stega_market_data/src/stega_market_data/domain/symbol.py
  stega/stega_market_data/src/stega_market_data/entrypoint.py
  stega/stega_market_data/src/stega_market_data/ports/__init__.py
  stega/stega_market_data/src/stega_market_data/ports/orm.py
  stega/stega_market_data/src/stega_market_data/ports/provider/__init__.py
  stega/stega_market_data/src/stega_market_data/ports/provider/price/__init__.py
  stega/stega_market_data/src/stega_market_data/ports/provider/price/base.py
  stega/stega_market_data/src/stega_market_data/ports/provider/price/http.py
  stega/stega_market_data/src/stega_market_data/ports/repository/__init__.py
  stega/stega_market_data/src/stega_market_data/ports/repository/base.py
  stega/stega_market_data/src/stega_market_data/ports/repository/sqlalchemy.py
  stega/stega_market_data/src/stega_market_data/services/handlers/__init__.py
  stega/stega_market_data/src/stega_market_data/services/handlers/price.py
  stega/stega_portfolio/src/.portfolio/stega_portfolio.db
  stega/stega_utils/src/stega_utils/http.py
  stega/stega_utils/src/stega_utils/limiter.py
  uv.lock
Due: skjold

implement price pulls for stega_market_data
  CONTRIBUTING.md
  stega/stega_core/src/stega_core/__init__.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/bus.py
  stega/stega_core/src/stega_core/di.py
  stega/stega_core/src/stega_core/message/event.py
  stega/stega_core/src/stega_core/provider/http.py
  stega/stega_edge/src/stega_edge/services/handlers/portfolio.py
  stega/stega_market_data/src/stega_market_data/bootstrap.py
  stega/stega_market_data/src/stega_market_data/domain/price.py
  stega/stega_market_data/src/stega_market_data/ports/orm.py
  stega/stega_market_data/src/stega_market_data/ports/provider/price/base.py
  stega/stega_market_data/src/stega_market_data/ports/provider/price/http.py
  stega/stega_market_data/src/stega_market_data/ports/repository/base.py
  stega/stega_market_data/src/stega_market_data/ports/repository/sqlalchemy.py
  stega/stega_market_data/src/stega_market_data/services/__init__.py
  stega/stega_market_data/src/stega_market_data/services/handlers/__init__.py
  stega/stega_market_data/src/stega_market_data/services/handlers/price.py
  stega/stega_utils/src/stega_utils/http.py
  stega/stega_utils/src/stega_utils/limiter.py
Due: skjold, prettier

start to create CLI spec scaffolding
  stega/stega_cli/src/stega_cli/bootstrap.py
  stega/stega_cli/src/stega_cli/cli/generate.py
  stega/stega_cli/src/stega_cli/cli/parse.py
  stega/stega_cli/src/stega_cli/cli/render.py
  stega/stega_cli/src/stega_cli/commands.py
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/ports/client.py
  stega/stega_contracts/src/stega_contracts/edge/__init__.py
  stega/stega_contracts/src/stega_contracts/edge/port.py
  stega/stega_contracts/src/stega_contracts/routes.py
  stega/stega_core/src/stega_core/cli.py
  stega/stega_core/src/stega_core/hosting/quart.py
  stega/stega_core/src/stega_core/service/socket.py
  stega/stega_core/src/stega_core/service/spec.py
  stega/stega_edge/src/stega_edge/entrypoint.py
Due: skjold
