Repository esimp12/stega: changes, and which pre-commit hooks are due for each by the changed paths.
All: skjold, prettier

skjold:
  name: skjold
  entry: poetry run skjold
  language: system
  args:
  - --verbose
  - -c
  - pyproject.toml
  - audit

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: system
  args:
  - --write

chore: add __pycache__ to .gitignore
  .gitignore
Due: none

fix: update task import for invoke
  tasks.py
Due: skjold

chore: update deps
  uv.lock
Due: none

fix (stega_core): update create_portfolio return type to str
  stega/stega_core/src/stega_core/ports/base.py
  stega/stega_core/src/stega_core/services/handlers/portfolio.py
Due: skjold

feat: create some stubs for core service
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/domain/errors.py
  stega/stega_core/src/stega_core/entrypoint.py
Due: skjold

feat (stega_core): setup main flask app factory and dispatcher for service api calls
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/bootstrap.py
Due: skjold

build (stega_core): create and run Dockerfile as docker-compose service
  CONTRIBUTING.md
  docker-compose.yaml
  stega/stega_core/docker-compose.yaml
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  uv.lock
Due: skjold, prettier

build (stega_core): create localhost published port for service
  stega/stega_core/docker-compose.yaml
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/config.py
Due: skjold, prettier

feat (stega_core, stega_portfolio): add core endpoint to list all portfolios
  stega/stega_core/docker-compose.yaml
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/ports/base.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_core/src/stega_core/services/handlers/portfolio.py
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/app.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/health.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/utils.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/ports/repos/base.py
  stega/stega_portfolio/src/stega_portfolio/ports/repos/db.py
  stega/stega_portfolio/src/stega_portfolio/views/__init__.py
  stega/stega_portfolio/src/stega_portfolio/views/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/views/views.py
Due: skjold, prettier

infra (stega_portfolio): fix healthcheck for service
  stega/stega_core/src/stega_core/config.py
  stega/stega_portfolio/Dockerfile
  stega/stega_portfolio/docker-compose.yaml
Due: skjold, prettier

feat (stega_cli): create command to list portfolios
  stega/stega_cli/pyproject.toml
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/entrypoint.py
  uv.lock
Due: skjold

feat (stega_cli): add create-portfolio command
  .gitignore
  TODO.md
  stega/stega_cli/src/stega_cli/entrypoint.py
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/mapping.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/services/messagebus.py
Due: skjold, prettier

docs: draft event architecture for application with rabbitmq
  docs/architecture/events.md
Due: prettier

docs: finish up initial event architecture for system
  docs/architecture/events.md
Due: prettier

feat (stega_portfolio): start to add support for event listeners
  docker-compose.yaml
  stega/stega_broker/docker-compose.yaml
  stega/stega_portfolio/Dockerfile.events
  stega/stega_portfolio/Dockerfile.service
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/stega_portfolio/adapters/events/__init__.py
  stega/stega_portfolio/src/stega_portfolio/adapters/events/listen.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
Due: skjold, prettier

feat (stega_portfolio): update event consumer
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/stega_portfolio/adapters/events/listen.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/services/messagebus.py
  uv.lock
Due: skjold

feat (stega_portfolio): inject rabbitmq publisher into messagebus
  stega/stega_core/src/stega_core/adapters/events/__init__.py
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/__init__.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/mapping.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/portfolio.py
  stega/stega_portfolio/src/stega_portfolio/services/messagebus.py
Due: skjold

feat (stega_core): run event consumer and app in separate processes
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_lib/src/stega_lib/events.py
Due: skjold

fix: rename serve entrypoint to be unique per service
  stega/stega_config/src/stega_config/frozen.py
  stega/stega_core/Dockerfile
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_portfolio/Dockerfile
  stega/stega_portfolio/Dockerfile.events
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/pyproject.toml
  stega/stega_portfolio/src/.portfolio/stega_portfolio.db
  stega/stega_portfolio/src/stega_portfolio/adapters/events/__init__.py
  stega/stega_portfolio/src/stega_portfolio/adapters/events/listen.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  tasks.py
Due: skjold, prettier

feat (stega_core): add events message bus
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
  stega/stega_core/src/stega_core/services/messagebus.py
  stega/stega_lib/src/stega_lib/domain.py
Due: skjold

feat (stega_core): create basic SSE route streaming basic responses
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
Due: skjold

feat (stega_core): create main IPC queue to pass system events to streaming routes
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
Due: skjold

feat (stega_core): change event listener to be background thread instead of process
  TODO.md
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/streams.py
Due: skjold, prettier

feat (stega_core): setup background thread for ClientStreams
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/utils.py
  stega/stega_core/src/stega_core/entrypoint.py
Due: skjold

fix (stega_core): update imports for running events listener
  stega/stega_broker/docker-compose.yaml
  stega/stega_core/docker-compose.yaml
  stega/stega_core/pyproject.toml
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
  stega/stega_portfolio/docker-compose.yaml
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  uv.lock
Due: skjold, prettier

fix (stega_core): get events consumer to work, initial flow for creating portfolio
  TODO.md
  stega/stega_core/src/stega_core/adapters/events/listen.py
  stega/stega_core/src/stega_core/config.py
  stega/stega_portfolio/src/stega_portfolio/bootstrap.py
  stega/stega_portfolio/src/stega_portfolio/config.py
  stega/stega_portfolio/src/stega_portfolio/entrypoint.py
  stega/stega_portfolio/src/stega_portfolio/ports/events/publish.py
  stega/stega_portfolio/src/stega_portfolio/services/handlers/mapping.py
  stega/stega_portfolio/src/stega_portfolio/services/messagebus.py
Due: skjold, prettier

fix (stega_core): get SSE streaming working correctly with multiple gunicorn workers
  TODO.md
  stega/stega_core/src/stega_core/adapters/rest/app.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
  stega/stega_core/src/stega_core/bootstrap.py
  stega/stega_core/src/stega_core/entrypoint.py
  stega/stega_core/src/stega_core/services/handlers/events.py
  stega/stega_core/src/stega_core/services/handlers/mapping.py
  stega/stega_core/src/stega_core/services/handlers/streams.py
  stega/stega_lib/src/stega_lib/events.py
Due: skjold, prettier

feat (stega_cli): start creating daemon
  TODO.md
  stega/stega_cli/src/stega_cli/daemon/__init__.py
  stega/stega_cli/src/stega_cli/daemon/server.py
Due: skjold, prettier

feat (stega_cli): build out background daemon more with raw sockets for IPC
  TODO.md
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/daemon/server.py
  stega/stega_cli/src/stega_cli/domain/__init__.py
  stega/stega_cli/src/stega_cli/domain/portfolio.py
  stega/stega_cli/src/stega_cli/entrypoint.py
  stega/stega_cli/src/stega_cli/ports/__init__.py
  stega/stega_cli/src/stega_cli/ports/db.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
Due: skjold, prettier

feat (stega_cli): long running daemon accepts CLI commands
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/entrypoint.py
Due: skjold

feat: add correlation_id to commands and events
  stega/stega_cli/src/stega_cli/entrypoint.py
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_core/src/stega_core/ports/base.py
  stega/stega_core/src/stega_core/ports/http.py
  stega/stega_lib/src/stega_lib/domain.py
  stega/stega_lib/src/stega_lib/events.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
Due: skjold

feat (stega_cli): deploy daemon as systemd unit
  TODO.md
  stega/stega_cli/src/stega_cli/config.py
  stega/stega_cli/src/stega_cli/entrypoint.py
Due: skjold, prettier

feat (stega_cli): move portfolio and daemon commands to subgroups
  TODO.md
  stega/stega_cli/pyproject.toml
  stega/stega_cli/src/stega_cli/cli/__init__.py
  stega/stega_cli/src/stega_cli/cli/command.py
  stega/stega_cli/src/stega_cli/cli/entrypoint.py
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/cli/utils.py
Due: skjold, prettier

feat (stega_cli): outline daemon commands
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/services/__init__.py
  stega/stega_cli/src/stega_cli/services/dispatcher.py
  stega/stega_cli/src/stega_cli/services/handlers.py
  stega/stega_core/src/stega_core/services/handlers/portfolio.py
Due: skjold

feat: start to tie together end to end get_portfolio path from CLI
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/ports/portfolio.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_core/src/stega_core/adapters/rest/api.py
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
Due: skjold

fix (stega_portfolio): missing trailing comma
  stega/stega_portfolio/src/stega_portfolio/adapters/rest/api.py
Due: skjold

feat (stega_cli): start to write create_portfolio command
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/services/dispatcher.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
  stega/stega_cli/src/stega_cli/services/handlers/portfolio.py
  stega/stega_core/src/stega_core/adapters/rest/sse.py
Due: skjold

feat (stega_cli): update daemon to run in an asyncio event loop
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/cli/systemd.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/command.py
Due: skjold

fix (stega_cli): limit number of restarts for daemon
  stega/stega_cli/src/stega_cli/cli/systemd.py
Due: skjold

feat (stega_cli): handle read vs. write path for daemon commands
  stega/stega_cli/src/stega_cli/cli/portfolio.py
  stega/stega_cli/src/stega_cli/daemon.py
  stega/stega_cli/src/stega_cli/domain/command.py
  stega/stega_cli/src/stega_cli/services/dispatcher.py
  stega/stega_cli/src/stega_cli/services/handlers/mapping.py
Due: skjold

Path conditions:
  skjold: any of: \.py$
  prettier: any of: ^.*\.(html|json|markdown|md|yaml|yml)$, but not: ^(.pytest_cache|.venv|.skjold_cache|.vim|.vscode|htmlcov)
